.input-group {
    border-radius: 6px;
    display: flex;
    background-color: rgb(98, 38, 38);
    ;

}

.prefix-span {
    padding: 6px 12px;
    font-size: 14px;

    color: #555;
    background: #eee;
    border: 1px solid #ccc;

}

input {
    flex: 1;
    padding: 6px 12px;
    border: 1px solid #ccc;
 
    border-color: transparent;
    outline: aqua;
    
}

input:focus {
    outline: none;
  }
 

.prefix input {
    border-radius: 42px 4px 4px 0px;
}

.prefix .prefix-span {
    border-right: 0px;
    border-radius: 4px 0px 40px 4px;
}

.input-group+.input-group {
    margin-top: 10px;
}